/* app.css */
/* User Panel */
.user-panel {
  display: flex;
  align-items: flex-end;
}

.user-panel div {
  padding-right: 2rem;
}

.user-panel h3 {
  margin-top: 1rem;
}

.user-panel p {
  margin-top:  0.5rem;
}

.user-panel button {
  margin-top: 0.5rem;
  display: block;
}

/* Landmarks Table */
.landmarks-con {
  flex-grow: 1;
}

.landmarks-con table {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}

/* Landmark Detail */
.landmark-detail {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 270px;
  display: flex;
  align-items: flex-end;
}

.landmark-img {
  width: 40%;
}

.landmark-img img {
  max-width: 100%;
  height: auto;
}

.landmark-description {
  padding:0 0 0.5rem 0.5rem;
  width: 40%;
}

.landmark-description h4, p {
  margin: 0.5rem 0 0 0;
}

.wiki {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}

.wiki button {
  margin: 0.55rem 0 0 0.5rem;
}

.detail-con {
  padding: 0 0 1.5rem 2.5rem;
}

.detail-con table {
  text-align: center;
}

.detail-con td {
  padding: 0 0.85rem;
}

.landmark-actions {
  padding: 0 2rem 2rem 2rem;
}

.landmark-actions button {
  margin-top: 0.5rem;
}

/* Forms */

.form-con {
  margin-top: 2rem;
  width: 20%;
}

.form-con form {
  margin-top: 1rem;
}

.form-con fieldset {
  border: none;
}

.form-con input[type="radio"] {
  display: inline-block;
  margin-top: 0.5rem;
  width: auto;
}

.form-con input[type="submit"] {
  width: auto;
}


.form-con input {
  display: block;
  margin-bottom: 0.5rem;
  width: 100%;
}

.form-con textarea {
  height: 7rem;
  width: 100%;
  resize: none;
}

.form-controls {
  display: flex;
  justify-content: space-between;
}

.form-actions button {
  margin-right: 0.5rem;
}

